.color-red {
	color: red;
}
.color-blue {
	color: blue;
}
.color-green {
	color: green;
}

.color-000 {
	color: #000;
}

.color-111 {
	color: #111;
}

.color-222 {
	color: #222;
}

.color-333 {
	color: #333;
}

.color-444 {
	color: #444;
}

.color-555 {
	color: #555;
}

.color-666 {
	color: #666;
}

.color-777 {
	color: #777;
}

.color-888 {
	color: #888;
}

.color-999 {
	color: #999;
}

.color-aaa {
	color: #aaa;
}

.color-bbb {
	color: #bbb;
}

.color-ccc {
	color: #ccc;
}

.color-ddd {
	color: #ddd;
}

.color-eee {
	color: #eee;
}

.color-fff {
	color: #fff;
}

.color-gray {
	color: grey;
}
