/*font size*/

/*region  ----- font size px ----- */

.font-size-12 {
	font-size: 12px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-22 {
	font-size: 22px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-26 {
	font-size: 26px;
}

.font-size-28 {
	font-size: 28px;
}

.font-size-30 {
	font-size: 30px;
}

.font-size-32 {
	font-size: 32px;
}
.font-size-64 {
	font-size: 64px;
}

/* ----- endregion ----- */

/*region  ----- font size name ----- */

.font-size-smaller {
	font-size: smaller;
}

.font-size-larger {
	font-size: larger;
}

/* ----- endregion ----- */
