
<div id="fullmeasureBottomForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms"
     style='display:none'>
</div>

<table class="absBottomTable" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <div id="absBottomForms" class="forms sideForms absForms">
        <div style="position:absolute;"></div><!-- for ie6 -->

      </div>
    </td>
  </tr>
</table>
<table id="webFooterTable" class="webFooterTable J_webFooterTable" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" class="fk-moduleZoneWrap">

      <div id="fk-webFooterZone" class="elemZone elemZoneModule J_moduleZone fk-webFooterZone fk-moduleZone forms sideForms">
        <div class="fk-moduleZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
        <div id='module379' bannerTitle='文本' _indexClass='formIndex1' _moduleType='1' _modulestyle='86' _moduleid='379'  class='form form379 formIndex1 formStyle86 formInZone  siteEditor ' title='' _sys='0' _banId='' style='position:absolute;top:53px;left:2px;width:701px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>

          <div class='lightModuleOuterContent lightModuleOuterContent379'>
            <div class='fk-editor simpleText   ' >
              <span style="font-size: 16px; color: rgb(193, 193, 193);" color="#c1c1c1">
                <a ui-sref="main" _ltype="100" _lide="AGQIZxIA" >首页 &nbsp;</a>
                <a ui-sref="product" _ltype="100" _lide="AGQIZxIA" _lname="产品中心"> 产品中心</a>&nbsp;&nbsp;
                <a ui-sref="news" _ltype="100" _lide="AGQIaBIA" _lname="新闻资讯" > 新闻资讯</a>&nbsp;&nbsp;
                <a ui-sref="hzjm" _ltype="100" _lide="AGQIZRIA" _lname="合作加盟" >合作加盟</a>&nbsp;&nbsp;
                <a ui-sref="contactus" _ltype="100" _lide="AGQIZhIA" _lname="联系我们" > 联系我们</a>&nbsp;&nbsp;
                <a ui-sref="sys-main" _ltype="100" _lide="AGQIZhIA" _lname="联系我们" > 登录后台</a>
              </span>
            </div>
          </div>
        </div>

        <div id='module380' bannerTitle='图片' _indexClass='formIndex2' _moduleType='1' _modulestyle='79' _moduleid='380'  class='form form380 formIndex2 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:168px;left:0px;width:850px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent380'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
            <div class='floatImgWrap'><div class='forMargin'><img id='float_img_380' class='float_in_img J_defImage ' src='assets/images/ad0ildx1bracgaag0eoiwwuotl7e3wew0gy4aq_1.jpg'  alt='AD0IldX1BRACGAAg0eOIwwUotL7E3wEw0gY4AQ' /></div></div></a>
          </div></div>
        </div>

        <div id='module389' bannerTitle='文本' _indexClass='formIndex3' _moduleType='1' _modulestyle='86' _moduleid='389'  class='form form389 formIndex3 formStyle86 formInZone  siteEditor ' title='' _sys='0' _banId='' style='position:absolute;top:108px;left:1051px;width:82px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent389'><div class='fk-editor simpleText   '><font style="color: rgb(244, 244, 244);" color="#FFFFFF"><span style="line-height: 14px;"><span style="font-size: 16px;"></span></span></font></div></div>
        </div>

        <div id='module388' bannerTitle='图片' style='position:absolute;top:107px;left:934px;width:159px;'>
          <div class='forMargin'>
             <img id='float_img_388' style="width: 260px;cursor: pointer"  ng-src='assets/images/logo.png'  />
          </div>
        </div>

        <div id='module382' bannerTitle='文本' _indexClass='formIndex5' _moduleType='1' _modulestyle='86' _moduleid='382'  class='form form382 formIndex5 formStyle86 formInZone  siteEditor ' title='' _sys='0' _banId='' style='position:absolute;top:120px;left:37px;width:122px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent382'><div class='fk-editor simpleText   '><span style=""><font color="#FFFFFF"><span style="font-size: 16px; font-family: 宋体, SimSun;">{{core.phone}}</span></font></span></div></div>
        </div>

        <div id='module381' bannerTitle='图片' _indexClass='formIndex6' _moduleType='1' _modulestyle='79' _moduleid='381'  class='form form381 formIndex6 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:119px;left:0px;width:30px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent381'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
            <div class='floatImgWrap'><div class='forMargin'><div id='float_img_381' class='float_in_img J_defImage J_fonticon faisco-icons-sc-electric13' src='faisco-icons-sc-electric13' ></div></div></div></a>
          </div></div>
        </div>

        <div id='module384' bannerTitle='文本' _indexClass='formIndex7' _moduleType='1' _modulestyle='86' _moduleid='384'  class='form form384 formIndex7 formStyle86 formInZone  siteEditor ' title='' _sys='0' _banId='' style='position:absolute;top:121px;left:272px;width:179px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent384'><div class='fk-editor simpleText   '><span style="font-size: 16px;"><i class="fa fa-email" style="color: rgb(244, 244, 244);" color="#FFFFFF">{{core.email}}</i></span></div></div>
        </div>

        <div id='module383' bannerTitle='图片' _indexClass='formIndex8' _moduleType='1' _modulestyle='79' _moduleid='383'  class='form form383 formIndex8 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:120px;left:233px;width:30px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent383'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
            <div class='floatImgWrap'><div class='forMargin'><div id='float_img_383' class='float_in_img J_defImage J_fonticon faisco-icons-mail2' src='faisco-icons-mail2' ></div></div></div></a>
          </div></div>
        </div>

        <div id='module385' bannerTitle='图片' _indexClass='formIndex9' _moduleType='1' _modulestyle='79' _moduleid='385'  class='form form385 formIndex9 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:119px;left:493px;width:30px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent385'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
            <div class='floatImgWrap'><div class='forMargin'><div id='float_img_385' class='float_in_img J_defImage J_fonticon faisco-icons-gps1' src='faisco-icons-gps1' ></div></div></div></a>
          </div></div>
        </div>

        <div id='module386' bannerTitle='文本' _indexClass='formIndex10' _moduleType='1' _modulestyle='86' _moduleid='386'  class='form form386 formIndex10 formStyle86 formInZone  siteEditor ' title='' _sys='0' _banId='' style='position:absolute;top:120px;left:530px;width:248px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent386'><div class='fk-editor simpleText   '><span style="font-size: 16px;"><font style="color: rgb(244, 244, 244);" color="#FFFFFF">{{core.addr}}</font></span></div></div>
        </div>

        <div id='module387' bannerTitle='图片' _indexClass='formIndex11' _moduleType='1' _modulestyle='79' _moduleid='387'  class='form form387 formIndex11 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:98px;left:0px;width:849px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent387'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
            <div class='floatImgWrap'><div class='forMargin'><img id='float_img_387' class='float_in_img J_defImage ' src='assets/images/ad0ildx1bracgaag0eoiwwuotl7e3wew0gy4aq_1.jpg'  alt='AD0IldX1BRACGAAg0eOIwwUotL7E3wEw0gY4AQ' /></div></div></a>
          </div></div>
        </div>
      </div>
      <div id="webFooter" class="webFooter">
        <div id='footer' class='footer' >
          <table class='footerTop' cellpadding='0' cellspacing='0'>
            <tr valign='top'>
              <td class='topLeft'></td>
              <td class='topCenter'></td>
              <td class='topRight'></td>
            </tr>
          </table>
          <table class='footerMiddle' cellpadding='0' cellspacing='0'>
            <tr valign='top'>
              <td class='middleLeft'></td>
              <td class='middleCenter' align='center'>
                <div class='footerContent'>
                  </div>
        </table>
        </div>
      </div>
    </td>
  </tr>
</table>
