<navbar></navbar>
<div ng-if="login">
  <div style="margin-top: 20px;"></div>
  <div class="flex-full-view-free">
    <div class="container">

      <div class="row">
        <div class="col-sm-2 ">
          <div class="list-group system-main-navbar">
            <a class="list-group-item"  ng-repeat="m in sysmenu" ui-sref="{{m.state[0]}}"
               ng-class="{'active':isSysActive(m)}">
              <i class=" fa fa-fw" ng-class="m.icon"></i>
              <span>{{m.name}}</span>
            </a>
            <a ng-click="logout()" style="cursor: pointer" class="list-group-item">退出系统</a>
          </div>
        </div>
        <div class="col-sm-10">
          <div style="border: solid 0px #ccc" ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<footer></footer>
