<table class="webTopTable" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <div id="webTop" class="webTop">
        <div id='corpTitle' class='corpTitle corpTitle2' fontPatternTitle='false' style=';'  _linkType='0' >
          <div style="" class="newPrimaryTitle">
            <!--<b>-->
              <!--<span style="font-size: 30px;">-->
                <!--<font style="color: rgb(2, 178, 181);" color="#02b2b5">Construction Material</font> <font style="color: rgb(204, 204, 204);" color="#cccccc">Design</font>-->
              <!--</span>-->
            <!--</b>-->
            <a ui-sref="main">

              <img ng-src="assets/images/logo.png" width="340" height=""/>
            </a>
          </div>
        </div>

      </div>
    </td>
  </tr>
</table>
<table class="webHeaderTable J_webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable">
  <tr>
    <td align="center" class="J_webHeaderTable webHeaderTd fk-moduleZoneWrap">

      <div id="fk-webHeaderZone" class="elemZone elemZoneModule J_moduleZone fk-webHeaderZone fk-moduleZone forms sideForms">
        <div class="fk-moduleZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
        <div id='module377' bannerTitle='图片' _indexClass='formIndex1' _moduleType='1' _modulestyle='79' _moduleid='377'  class='form form377 formIndex1 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:21px;left:918px;width:46px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='true' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent377'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
            <div class='floatImgWrap'><div class='forMargin'><img id='float_img_377' class='float_in_img J_defImage ' src='assets/images/ad0ildx1braegaagm96iwwuospeu4qewljgu_1.png'  alt='AD0IldX1BRAEGAAgm96IwwUosPeU4QEwLjgu' /></div></div></a>
          </div></div>
        </div>

        <div id='module378' bannerTitle='文本' _indexClass='formIndex2' _moduleType='1' _modulestyle='86' _moduleid='378'  class='form form378 formIndex2 formStyle86 formInZone  siteEditor ' title='' _sys='0' _banId='' style='position:absolute;top:16px;left:980px;width:152px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='true' _independent='false' data-scrollbar='0'>
          <div class='lightModuleOuterContent lightModuleOuterContent378'><div class='fk-editor simpleText   '><div><span style="font-size: 14px;"><font style="color: rgb(92, 92, 92);" color="#5c5c5c">全国咨询热线</font></span></div><div><font style="color: rgb(2, 178, 181);" color="#02b2b5">{{core.tel}}</font></div></div></div>
        </div>


      </div>

      <div id="webHeader" class="webHeader">
        <table class='headerTable' cellpadding='0' cellspacing='0'>
          <tr>
            <td class='headerCusLeft'></td>
            <td class='headerCusMiddle' align='center' valign='top'>
              <div class='headerNav '>
                <div id='navV2Wrap'><div id='navV2' class='nav navV2'>
                  <div class='navMainContent'><div class='navContent'>
                    <div id='navCenterContent' class='navCenterContent' >
                      <div id='navCenter' class='navCenter' ng-repeat="item in menu">
                        <div class='itemPrev'></div>
                        <div class='itemContainer ' >
                          <div  >
                            <div title='' id='nav2' class='item itemCol2 itemIndex1 ' ng-class="{itemSelected:isActive(item)}">
                              <div class='itemCenter'>
                                <a hidefocus='true' style='outline:none;' ui-sref="{{item.state[0]}}">
                                  <span class='itemName0'>{{item.title}}</span>
                                </a>
                              </div>
                            </div>
                            <div class='itemSep'></div>
                          </div>
                        </div>
                        <div class='itemNext'></div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
                </div>

              </div>
            </td>
            <td class='headerCusRight'></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
